{% extends "base.html" %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Project Overview</a>
      <a class="nav-item nav-link" href="/selection">Try Application</a>
      <a class="nav-item nav-link" href="/explore_data">Explore Data</a>
      <a class="nav-item nav-link active" href="#">Developer Info <span class="sr-only">(current)</span></a>
    </div>
  </div>
{% endblock %}


{% block title %}Developer Info{% endblock %}

{% block content %}
<h1>
    about me:
    <p>
        I am a recent graduate from University of Cincinnati with a degree in Business Analytics. I have found my passion for programming with data and learning all things about technology along the way. 
    </p>
</h1>
{% endblock %}