{% extends "base.html" %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Project Overview</a>
      <a class="nav-item nav-link" href="/selection">Try Application</a>
      <a class="nav-item nav-link active" href="/explore_data">Explore Data<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/developer_info">Developer Info</a>
    </div>
  </div>
{% endblock %}


{% block title %}Developer Info{% endblock %}

{% block content %}
<h1>

</h1>
{% endblock %}